{% extends "base.html"%}
{% block nav %}
  {% include 'nav.html' %}
{% endblock %}

{% block body %}
<div id="wrap">
  <div class="container" style="padding-top: 50px;">
    <center>
      <h1>西电开源社区软件源</h1>
    </center>
    <table class="table">
      <tbody>
        <tr>
          <th>名称</th>
          <th>状态</th>
          <th>最后同步时间</th>
          <th>占用空间</th>
          <th>帮助</th>
        </tr>
        <tr class={{ item.class_type }}>
            <td>{{ item.name }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.last_rsync_time }}</td>
            <td>{{ item.size }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}